[submodule "opencl-racket"]
	path = opencl-racket
	url = https://github.com/wshenyi/opencl-racket.git
[submodule "rosette"]
	path = rosette
	url = https://github.com/wshenyi/rosette.git
[submodule "ocelot"]
	path = ocelot
	url = https://github.com/wshenyi/ocelot.git
